@charset "gb2312";
/* RESET */
*{margin:0;padding:0; border:0;}img{ vertical-align:top}iframe,object{ display:block;}
ol,ul{list-style-type:none}table{border-collapse:collapse;border-spacing:0;}.tc{text-align:center}.nobg{background:none !important;}.nobor{border:0 !important;}
/* change the settings to suit your needs */
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a{text-decoration:none;color:#888}a:hover,a:active {color:#f00;text-decoration:none;}
.gray,.gray a,a.gray{color:#333;}
.blue,.blue a,a.blue{color:#00479d;}
.f14{font-size:17px;}

/* = 清除浮动元素= */
.clr {clear:both;}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.fl{float:left !important;}.fr{float:right !important;}.tc{text-align:center}
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix{display: inline-block;}
* html .clearfix,s
* html{height: 1%;}
.clearfix{display: block;}
/* = Auxiliary Styles (辅助样式) = */
.hr_a,.hr_b{font-size:1px;line-height:1px;clear:both;overflow:hidden}.hr_a{height:30px}.hr_b{height:10px}
.mrt {
    margin-top:10px;
}

body {
    /*font:12px/22px Microsoft Yahei;color:#888;*/
    font-size:13px;

    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
/* nav导航及列表/切换/滚动辅助样式 */
.hor li{white-space:nowrap;display:inline;float:left;overflow:hidden}
.tab_nav li{ cursor:pointer}
.tab_switch .tabcon { display:none}.tab_switch .tabcon.selected{ display:block}
.scoll_switch .tabcon{ width:0; height:0; overflow:hidden; visibility:hidden}.scoll_switch .tabcon.selected{ visibility:visible}
/*滚动按钮控制*/
.scoll_box{ position:relative}
.scoll_box span.prev,.scoll_box span.next {width:20px;height:100px;top:60px;background:url(../images/scoll_btn.png) no-repeat;cursor:pointer;position:absolute;display:block;}
.scoll_box span.prev {left:0px;background-position:left center !important;}
.scoll_box span.next {right:0px;background-position:right center !important;}

/* = Header And Footer Styles =*/
.w1000{width:1000px;margin:0 auto;}
.w990{width:990px;margin:0 auto;}
.w930{width:930px;margin:0 auto;}
.w282{width:282px;}
.w282 ul li img{

}
.w685{width:685px;}
.mintop{padding:19px 0; background-color: #fefefe}
.mintop ul{float:right;width:228px; letter-spacing:1px;margin-top:13px}
.mintop li{float:left;width:33%;text-align:center;}


.nav{height:60px;background:#00479d;}
.nav li{float:left;width:125px;text-align:center;margin-right:8px;line-height:60px;color:#fff;font-size:16px;}
.nav li.last{margin-right:0;}
.nav li a{color:#fff;display:block;}
.nav li a:hover,.nav li.hover a{background:#fff;color:#00479d;}



.slider-wrap{
    position: relative;
    height:450px;
    /*overflow: hidden;*/

}




/**/

.fullSlide{ min-width:1000px; position:relative;  height:450px; overflow:hidden;  }
.fullSlide .bd{ position:relative; z-index:0;  }
.fullSlide .bd ul{ width:100% !important;  }
.fullSlide .bd li{ width:100% !important;  height:450px; overflow:hidden; text-align:center;  }
.fullSlide .bd li a{ display:block; height:450px; }

.fullSlide .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; background:url(touming.png) repeat-x; text-align:center;
    _background:#000; _filter:alpha(opacity=60);
}
.fullSlide .hd ul{ text-align:center;  padding-top:5px;  opacity:0.8;}
.fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:8px; height:8px; margin:5px; background:url(tg_flash_p.png) #c1c1c1 -18px 0; overflow:hidden;
    line-height:9999px;border-radius: 50%;
}
.fullSlide .hd ul .on{ background-position:0 0; background-color: #7769ff; }


/**/



.fullSlide .prev,.fullSlide .next{ z-index:1; display:block; width:55px; height:55px; position:relative; margin:-250px  5%; float:left;  background:url(./arrow.png) 0 0 no-repeat;
    /*filter:alpha(opacity=40);opacity:0  */
}
.fullSlide .next{  background-position:right 0; float:right;  }
/*.fullSlide .prev:hover,.fullSlide .next:hover{ filter:alpha(opacity=80);opacity:0.8 }*/

@media (min-width: 1900px) {

    .fullSlide .prev,.fullSlide .next{
        margin-right:15%;
        margin-left: 15%;
    }
}
#foot{background:#4c4c4c;padding:35px 0 15px;color:#8C8C8C;}
#foot dt{height:48px;}
#foot dl{float:left;width:300px;font-size:14px;padding-left:30px;}
#foot dl a{color:#8C8C8C;}
#foot dl h4{line-height:40px;}
#foot span,#foot span a{color:#666;}
#foot span a:hover{color:#8fc0da;}