@charset "gb2312";



.warmp{position: relative;max-width:640px;min-width:320px;margin:0 auto;overflow:hidden;}
.container{position: relative; right: 0; max-width:640px;min-width:320px;background-color:#fff;margin:0.97rem auto 0;overflow:hidden;-webkit-transition: right .5s ease;transition: right .5s ease;}
.container img{width:100%;display:block;}
.bgColor{background-color:#f7f7f7;}
/*banner*/
#bannerSlider .swiper-slide{width:100%;}
#bannerSlider .swiper-pagination{width:100%;height:8px;font-size:0;line-height:0;text-align:center;bottom:8px;}
#bannerSlider .swiper-pagination span{width:8px;height:8px;border-radius:50%;display:inline-block;background-color:#fff;overflow:hidden;margin:0 3px;opacity:1;}
#bannerSlider .swiper-pagination span.swiper-pagination-bullet-active{background-color:#720a0a;}

.subNav{height: 65px; padding:12px 10px 6px; overflow: hidden;}
.subNav a{float: left; position: relative; width: 25%; display: block; color: #3f3f3f; font-size: 14px; line-height:28px; text-align: center;}
.subNav a i{width: 37px; height: 37px; margin: 0 auto; display: block; background: url(subNav_ico.png) no-repeat; background-size: 160px 40px;}
.subNav a:nth-child(2) i{background-position:-40px 0;}
.subNav a:nth-child(3) i{background-position:-80px 0;}
.subNav a:nth-child(4) i{background-position:-120px 0;}

.search{height: 36px; padding:8px 10px; background-color:#f2f2f2;}
.searchForm{width: 100%; height: 34px; background-color:#fff; border:1px solid #d7d7d7; border-radius: 4px;}
.searchForm .searchTxt{float: left; width: 80%; height: 34px; padding: 0 10px; display: block; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border: none; box-sizing: border-box;}
.searchForm .bajs-ajax-form-sumit-btn{float: left; width: 20%; height: 34px; display: block; background:#720A0A url(search_btn_bg.png) no-repeat center center; background-size: 22px 22px; border: none;border-top-right-radius:4px; border-bottom-right-radius: 4px;}
.search .btn{width: 25%; height:34px; display: block; background-color: #fff; border: 1px solid #d7d7d7; border-radius: 4px; color: #720A0A; font-size: 14px; line-height: 34px; text-align: center;}
.searchForm input:nth-child(1){width:70%;height:34px;float:left;overflow:hidden;border:none;color:#b5b5b5;}
.searchForm input:nth-child(2){width:29%;height:34px;float:right;overflow:hidden;border:none;
	background:#720A0A url(search_btn_bg.png) no-repeat center center;background-size: 22px 22px;}
/*f1Box*/
.f1Box{padding-top: 14px;}
.f1Box h2{position: relative; width:156px; height: 36px; margin: 0 auto; border-bottom: 1px solid #ccc; color:#444; font-size: 17px; font-weight: normal; line-height: 36px; text-align: center;}
.f1Box h2 span{background: url(xw.png) no-repeat 0px 5px;
    display: inline-block;
    width: 20px;
    height: 24px;
    background-size: 25px;}
.f1Box h2 i{position: absolute; bottom: -3px; left: 50%; margin-left: -18px; width: 36px; height:5px; background-color:#720A0A;}
.f1Con{padding:15px 10px 10px; overflow: hidden;}
.f1Con a{color:#94441b;background:url(b_ban.png) no-repeat;background-size:100% 50px;float: left; width: 31%; height:50px; margin-bottom: 8px; display: block;border-radius: 4px; font-size: 16px; line-height: 50px; text-align: center; box-sizing:border-box;    position: relative;}
.f1Con a:nth-child(2),.f1Con a:nth-child(5),.f1Con a:nth-child(8){margin: 0 3.5% 8px;}
.f1Con a u{display: inline-block;position: absolute;}
.f1Con a:nth-child(1) u{width: 40px;height: 35px;top: 13px;background-size:32px;left: 10%;} 
.f1Con a:nth-child(1) span{padding-left:0px}
.f1Con a:nth-child(2) u{width: 40px;height: 35px;top: 13px;background-size:25px;left: 10%;} 
.f1Con a:nth-child(2) span{padding-left:0px}
.f1Con a:nth-child(3) u{width: 40px;height: 35px;top: 11px;background-size:15px;left: 10%;} 
.f1Con a:nth-child(3) span{padding-left:0px}
.f1Con a:nth-child(4) u{width: 40px;height: 35px;top: 11px;background-size:20px;left: 10%;} 
.f1Con a:nth-child(4) span{padding-left:0px}
.f1Con a:nth-child(5) u{width: 40px;height: 35px;top: 11px;background-size:25px;left: 10%;} 
.f1Con a:nth-child(5) span{padding-left:0px}
.f1Con a:nth-child(6) u{width: 40px;height: 35px;top: 11px;background-size:25px;left: 10%;} 
.f1Con a:nth-child(6) span{padding-left:0px}
/* .f1Con a:nth-child(2){background-color:#f9fbf3; color: #31940a;} */
/* .f1Con a:nth-child(3){background-color:#f8f3fb; color: #8955a7;} */
/* .f1Con a:nth-child(4){background-color:#fbf9f3; color: #f07100;} */
/* .f1Con a:nth-child(5){background-color:#f5fbf9; color: #128dc0;} */
/* .f1Con a:nth-child(6){background-color:#f5f6fc; color: #5567d1;} */
/* .f1Con a:nth-child(7){background-color:#f9fbf3; color: #5567d1;} */
/* .f1Con a:nth-child(8){background-color:#f5f6fc; color:#9AB350;} */
/* .f1Con a:nth-child(9){background-color:#fff; color:#720A0A;} */
.f1Link{padding: 0.15rem 10px 12px; overflow: hidden;}
.f1Link a{float: left; width:22.3%; height: 40px; margin: 0 3.5% 8px 0; display: block; border: 1px solid #dcdcdc;overflow:hidden; 
	border-radius: 4px; color: #333; font-size: 14px; line-height: 40px; text-align: center; box-sizing: border-box;}
/* .f1Link a:last-child{background-color:#f5fbf3; color: #720A0A;} */
.f1Link a:last-child i{width: 12px; height: 12px; margin-left: 7px; display: inline-block; background: url(arrow.png) no-repeat; background-size: 12px 24px;}
.f1Link a:nth-child(17){width:48.4%;}
.f1Link a:nth-child(4),.f1Link a:nth-child(8),.f1Link a:nth-child(12),.f1Link a:nth-child(16),.f1Link a:nth-child(17){margin-right: 0;}

/*f2Box*/
/* .f2Box{padding:7px 0 20px;} */
/* .f2Box h2{position:relative;width:156px;height:36px;margin:0 auto;border-bottom:1px solid #ccc;color:#444;font-size:17px;font-weight:normal;line-height:36px;text-align:center;} */
/* .f2Box h2 i{width:16px;height:18px;margin:9px 6px 0 0;display:inline-block;background:url(/images/fuke/2017index/subNav_ico.png) no-repeat -180px 0;background-size:200px 34px;vertical-align:top;} */
/* .f2Box h2 b{position:absolute;bottom:-3px;left:50%;margin-left:-12px;width:36px;height:5px;background-color:#720A0A;} */
.f2Con{padding:18px 10px 4px;overflow:hidden;}
.f2Con a{float:left;width:23.5%;height:42px;margin-bottom:2%;margin-right:2%;background-color:#f7f7f7;border:1px solid #dcdcdc;border-radius:4px;color:#333;font-size:14px;line-height:18px;text-align:center; box-sizing: border-box; display:box;display:-webkit-box;box-pack:center;-webkit-box-pack:center;box-align:center;-webkit-box-align:center;}
.f2Con a:nth-child(4n){margin-right:0;}
/*doctor*/
.doctor{padding:24px 10px 20px;}
.doctor h2{position: relative; width:200px; height: 36px; margin: 0 auto; border-bottom: 1px solid #ccc; color:#444; font-size: 17px; font-weight: normal; line-height: 36px; text-align: center;}
.doctor h2 i{position: absolute; bottom: -3px; left: 50%; margin-left: -18px; width: 36px; height:5px; background-color:#720A0A;}
.doctorSlide{position: relative; height: 250px; padding:22px 0 28px; overflow: hidden;}
.doctorSlide ul{height: 411px; overflow: hidden;}
.doctorSlide li{height: 411px;}
.doctorSlide dl{position: relative; height:150px; overflow: hidden;}
.doctorSlide dl dt{position: absolute; top:0; left: 0;}
.doctorSlide dl dt img{width: 116px;border: 1px solid #d7d7d7;}
.doctorSlide dl dd{padding-left:128px;}
.doctorSlide dl dd h3{color: #373737; font-size: 14px; font-weight: normal; line-height:24px;white-space: nowrap;}
.doctorSlide dl dd h3 a{margin-right: 8px; color: #373737; font-size: 18px;}
.doctorSlide dl dd p{color: #666;background: url(jbbb.png) no-repeat 0;background-size: 16px;padding-left: 20px;line-height: 21px;white-space: nowrap;}
.doctorSlide dl dd .jiang{margin-top:10px}
.doctorSlide p.pm{color: #666;font-size:14px}
.doctorSlide p.pm b{font-weight: bold; color: #000;}
.doctorSlide p.pm a{color: #ff9900;}
.doctorSlide .askBox{height: 30px; padding-top: 16px; text-align: center; line-height: 0; font-size: 0;}
.doctorSlide .askBox a{width:28%; height: 30px; margin: 0 1.6%; display: inline-block; background-color:#720A0A; border-radius: 4px; color: #fff; font-size: 14px; line-height: 30px; text-align: center;}
.doctorSlide .askBox a:nth-child(2){background-color:#cd0f0f}
.doctorSlide .askBox a:nth-child(3){background-color:#cb6831;}
.dateTable{padding-top: 18px;}
.dateTable h3{color: #313131; font-size: 14px; font-weight: normal; line-height: 30px;}
.dateTable ul{height: 96px; border-left: 1px solid #dadada;border-top: 1px solid #dadada;}
.dateTable li{width: 100%; height: 48px; overflow: hidden;}
.dateTable li span{float: left; width: 14.28%; height: 48px; display: block; border-right: 1px solid #dadada; border-bottom: 1px solid #dadada; box-sizing: border-box; text-align: center;}
.dateTable li.ioc span{display: box; display: -webkit-box; box-pack:center; box-align:center; -webkit-box-pack:center; -webkit-box-align:center;}
.dateTable li a{width: 100%; height: 47px; display: block; background-color:#f8eddc; color:#ad3b00; font-size: 12px; line-height: 47px; text-align: center;}
.doctorSlide .bajs-easy-slider-pagination{bottom: 0; width: 100%; height: 10px; text-align: center; line-height: 0; font-size:0;}
.doctorSlide .bajs-easy-slider-pagination a{width: 10px; height:10px; margin: 0 4px; display: inline-block; background-color:#bfbfbf; border-radius: 50%;}
.doctorSlide .bajs-easy-slider-pagination a.active{background-color:#ff9900;}
/*f2Box*/
.f2Box{padding:7px 10px 20px; background-color:#f6f5f5;}
.f2Box h2{position: relative; height: 36px; color: #373737; font-size: 17px; font-weight: normal; line-height: 36px;}
.f2Box h2 a{position: absolute; top:0; right: 0; height: 36px; padding-right: 18px; color: #ff9900;font-size: 12px; line-height: 36px;}
.f2Box h2 a i{position: absolute; top:50%; right: 0; margin-top: -6px; width: 12px; height: 12px; background: url(arrow.png) no-repeat left bottom; background-size: 12px 24px;}
.f2Box ul{border-left: 1px solid #dadada;border-top: 1px solid #dadada; overflow: hidden;}
.f2Box li{float: left; width: 25%; height: 42px; background-color:#fff; border-bottom: 1px solid #dadada; border-right: 1px solid #dadada; box-sizing: border-box;}
.f2Box li a{display: block; color: #484848; font-size:14px; line-height: 36px; text-align: center;}
.f2Box li.green a{color: #a31313;}
/*f3Box*/
.f3Box{padding:20px 10px 12px;}
.f3Box h2{position: relative; width: 170px; margin: 0 auto; padding-bottom:6px; border-bottom: 1px solid #ccc; color: #373737; font-size: 18px; font-weight: normal; line-height: 22px; text-align: center;}
.f3Box h2 span{display: block; color: #720A0A; font-size: 14px; line-height: 18px;}
.f3Box h2 i{position: absolute; left: 50%; bottom: -3px; margin-left: -18px; width: 36px; height: 5px; background-color:#720A0A; overflow: hidden;}
.appFrom .page-booking .bajs-ajax-form{padding:15px 0 18px; border-bottom: 1px dashed #bbbbbb;}
.appFrom .rule{width:70%;margin: 10px auto;}
.appFrom .rule dd{text-indent:-20px}
.appFrom .page-booking .bajs-ajax-form dl dt{color: #626262;font-size: 14px; line-height: 39px; text-align: right;}
.appFrom .page-booking .bajs-ajax-form dl dt b{margin-right: 2px; color: #ff7a19;}
.appFrom .page-booking .bajs-ajax-form dl dd{padding-left: 80px; padding-right: 0;}
.appFrom .page-booking .bajs-ajax-form dl dd input.text{height: 39px; padding: 0 10px; border-radius:3px; color: #b5b5b5; font-size: 14px; line-height: 39px; box-sizing: border-box;}
.appFrom .page-booking .bajs-ajax-form dl dd select.text{height: 39px; padding-left: 10px; font-size: 14px;}
.appFrom .page-booking .bajs-ajax-form .bajs-ajax-form-action{padding-left: 80px;}
.appFrom .page-booking .bajs-ajax-form input.submit,.appFrom .page-booking .bajs-ajax-form input.reset{width: 48%; height: 32px; border-radius: 4px; font-size: 14px; line-height: 32px;}
.appFrom .page-booking .bajs-ajax-form input.submit{background-color:#720A0A;}
.appFrom .page-booking .bajs-ajax-form input.reset{background-color:#d1c0a5;}
.appFrom .page-booking .bookingNotice{background-color:#fff; color: #616161; font-size: 12px;}
/*f4Box*/
.f4Box{padding:12px 10px 0.1rem; background-color:#fff;}
.f4Box .tab{height: 36px; margin-bottom: 14px; border-bottom: 2px solid #c0c0c0;}
.f4Box .tab span{float: left; position: relative; width:33.3%; height: 36px; display: block; color: #555; font-size: 14px; line-height: 36px; text-align: center;}
.f4Box .tab span i{position: absolute; left: 0; bottom: -2px; width: 100%; height: 2px; background-color:#720A0A; overflow: hidden; display: none;}
.f4Box .tab span.active{color: #720A0A;}
.f4Box .tab span.active i{display:block;}
.slide_A li,.slide_C li{position: relative;}
.slide_A li span,.slide_C li span,.slide_B .imgList span{position: absolute; left: 0; bottom: 0; width: 100%; height: 28px; background-color: rgba(0,0,0,.5); color: #fff; font-size: 14px; line-height: 28px; text-align: center;}
.slide_B .imgList{position: relative; width: 48%; margin-bottom: 14px;}
.slide_B .imgList span{position: absolute;}
.honor{overflow: hidden;}
.honor li{width: 48%; padding-bottom: 14px;}
.honor li img{border: 2px solid #cfcdcd; box-sizing: border-box;}
/* f5Box */
.f5Box{padding:8px 10px 18px;}
.f5Tab{height: 38px; border-bottom: 2px solid #c0c0c0;}
.f5Tab span{float: left; position: relative; width: 33.33%; height: 38px; display: block; color: #373737; font-size: 14px; line-height: 38px; text-align: center;}
.f5Tab span i{position: absolute; left: 0; bottom: -2px; width: 100%; height: 2px; background-color:#720A0A; overflow: hidden; display: none;}
.f5Tab span.active{color: #720A0A;}
.f5Tab span.active i{display:block;}
.f5Slide{position: relative; height: auto; padding-top: 10px;}
.f5Slide ul{height: auto; overflow: hidden;}
.f5Slide li{position: relative; width: 100%;}
.f5Slide li p{position: relative; height:39px; padding:0 20px 0 12px; border-bottom: 1px solid #dfdfdf; overflow: hidden;}
.f5Slide li p i{position: absolute; left: 0; top:50%; margin-top: -2px; width: 4px; height: 4px; border-radius: 50%; background-color:#7d7d7d;}
.f5Slide li p a{color: #636363; font-size: 14px; line-height: 39px;}
.f5Slide li p .tel{position: absolute; right: 0; top:12px; width: 16px; height: 17px; background: url(tel_ico.gif) no-repeat; background-size: 16px 17px;}
/* @media screen and (min-width:360px){ */
	/* .doctorSlide dl dd p{line-height: 24px;} */
/* } */

/* 医生排班弹窗 */
.doctorForm .bajs-light-popup-close{width:27px;height:24px;background:url(../images/close.jpg) no-repeat;background-size:27px 24px;right:7px;top:8px;}
.doctorForm .bajs-light-popup-origin{width:300px;background-color:#fff;display:block;}
.doctorForm h3{text-align:center;line-height:40px;font-size:18px;font-weight:bold;color:#fff;background-color:#e3a309;}
.doctorForm .bajs-ajax-form{padding:15px 25px 0 25px;position:relative;}
.doctorForm dl{height:35px;margin-bottom:10px;position:relative;padding-left:61px;}
.doctorForm dl dt{width:61px;line-height:35px;position:absolute;left:0;top:0;}
.doctorForm dl dt b{position:absolute;right:63px;color:#f00;}
.doctorForm dl:nth-child(1) dt b{display:none;}
.doctorForm dl:nth-child(5) dt b{display:none;}
.doctorForm dl dd{line-height:35px;}
.doctorForm dl dd input.t,.doctorForm dl dd select.t{width:182px;height:35px;border:#d7d7d7 solid 1px;background-color:#fff;}
.doctorForm dl dd select.t{width:187px;background:url(../images/selectBg.jpg) right center no-repeat #fff;background-size:auto 22px;-webkit-appearance: none}
.doctorForm dl dd select.date{width:110px; background:#ECEBEB;}
.doctorForm dl dd select.time{width:60px;}
.doctorForm dl dd label{line-height:35px;position:relative;padding-left:20px;margin-right:20px;}
.doctorForm dl dd input[type="radio"]{width:11px;height:11px;background:url(../images/radio_01.png) no-repeat;background-size:11px;border:0;position:absolute;left:0;top:50%;margin-top:-5px;}
.doctorForm dl dd input[type="radio"]:checked{background:url(../images/radio_02.png) no-repeat;background-size:11px;}
.doctorForm dl:nth-child(6){position:absolute;right:27px;bottom:63px;padding-left:0;}
.doctorForm .bajs-ajax-form-action{overflow:hidden;padding:10px 0 20px 61px;}
.doctorForm .bajs-ajax-form-action .submit,.doctorForm .bajs-ajax-form-action .reset{width:72px;height:33px;text-align:center;line-height:33px;color:#fff;border:0;border-radius:5px;}
.doctorForm .bajs-ajax-form-action .submit{float:left;background-color:#fb7a23;}
.doctorForm .bajs-ajax-form-action .reset{float:right;background-color:#78a417;}
.doctorForm ul{background-color:#fff;padding:7px 15px 0;overflow:hidden;margin-bottom:10px;}
.doctorForm ul li{height:17px;margin-bottom:7px;}
.doctorForm ul li span{width:30px;height:17px;text-align:center;line-height:17px;font-weight:bold;color:#656565;display:inline-block;margin-right:2px;}
.pl{padding:5px;background:#f2f2f2}

.zj-list ul li {
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    overflow: hidden;
}
.zj-list ul li h1 {
    border-bottom: 1px solid #e6d3c0;
    padding-bottom: 8px;
}
.zj-list ul li span{color:#333}
.zj-list ul li h1 b {
    font-size: 16px;
    color: #8e4e2d;
    font-weight: 600;
}
.zj-list ul li div {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #bc5c29;
    margin-right: 5px;
    margin-top: 10px;
}
.zj-list ul li p {
    font-size: 12px;
    margin-top: 10px;color:#666
}
.zj-list ul li p a {
    color: red;
}







.cd-section {
  /* padding: 2em; */
  /* margin-top: 5em; */
  text-align: center;
}

/* .cd-bouncy-nav-trigger { */

  /* background: #DC965A; */
  /* color: #ffffff; */
  /* padding: 1.2em 2em; */
  /* border-radius: 10em; */
  /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 10px #171718; */
/* } */
.no-touch .cd-bouncy-nav-trigger:hover {
  background: #e0a36f;
}

.cd-bouncy-nav-modal {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 35, 37, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0.6s, visibility 0s 0.9s;
  -moz-transition: opacity 0.3s 0.6s, visibility 0s 0.9s;
  transition: opacity 0.3s 0.6s, visibility 0s 0.9s;
}
.cd-bouncy-nav-modal.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.1s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.1s 0s, visibility 0s 0s;
  transition: opacity 0.1s 0s, visibility 0s 0s;
}
.cd-bouncy-nav-modal .cd-close {
  display: block;
  position: fixed;
  top: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url("../images/cd-icon-close.svg") no-repeat center center;
  -webkit-transform: scale(0) translateZ(0);
  -moz-transform: scale(0) translateZ(0);
  -ms-transform: scale(0) translateZ(0);
  -o-transform: scale(0) translateZ(0);
  transform: scale(0) translateZ(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s;
  transition: transform 0.3s 0s, visibility 0s 0.3s;
}
.cd-bouncy-nav-modal.fade-in .cd-close {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0.3s 0s;
}
@media only screen and (min-width: 1170px) {
  .cd-bouncy-nav-modal .cd-close {
    top: 60px;
  }
}

.cd-bouncy-nav {
  position: absolute;
  left: 50%;
  top: 50vh;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 300px;
}
.cd-bouncy-nav li {
  width: 33.33%;
  float: left;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateY(100vh);
  -moz-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  -o-transform: translateY(100vh);
  transform: translateY(100vh);
  text-align: center;
}
.is-visible .cd-bouncy-nav li {
  /* used to assign a tranlsateY value when the animation is over */
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.fade-in .cd-bouncy-nav li {
  -webkit-animation: cd-move-in 0.4s;
  -moz-animation: cd-move-in 0.4s;
  animation: cd-move-in 0.4s;
}
.fade-out .cd-bouncy-nav li {
  -webkit-animation: cd-move-out 0.4s;
  -moz-animation: cd-move-out 0.4s;
  animation: cd-move-out 0.4s;
}
.fade-in .cd-bouncy-nav li, .fade-out .cd-bouncy-nav li {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.fade-in .cd-bouncy-nav li:nth-of-type(2), .fade-out .cd-bouncy-nav li:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.fade-in .cd-bouncy-nav li:nth-of-type(3), .fade-out .cd-bouncy-nav li:nth-of-type(3) {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.fade-in .cd-bouncy-nav li:nth-of-type(4), .fade-out .cd-bouncy-nav li:nth-of-type(4) {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.fade-in .cd-bouncy-nav li:nth-of-type(5), .fade-out .cd-bouncy-nav li:nth-of-type(5) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.fade-in .cd-bouncy-nav li:nth-of-type(6), .fade-out .cd-bouncy-nav li:nth-of-type(6) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.cd-bouncy-nav a {
  display: inline-block;
  min-width: 80px;
  position: relative;
  /* padding: 90px 20px 0; */
  margin-bottom: 30px;
  color: #ffffff;
}

.no-touch .cd-bouncy-nav a:hover::before {
  background-color: #DC965A;
}
.cd-bouncy-nav li:nth-of-type(2) a::before {
  background-position: -80px 0;
}
.cd-bouncy-nav li:nth-of-type(3) a::before {
  background-position: -160px 0;
}
.cd-bouncy-nav li:nth-of-type(4) a::before {
  background-position: -240px 0;
}
.cd-bouncy-nav li:nth-of-type(5) a::before {
  background-position: -320px 0;
}
.cd-bouncy-nav li:nth-of-type(6) a::before {
  background-position: -400px 0;
}
@media only screen and (min-width: 768px) {
  .cd-bouncy-nav {
    max-width: 450px;
  }
  .cd-bouncy-nav li {
    width: 33.10%;
    float: left;
  }
  .fade-in .cd-bouncy-nav li:nth-of-type(1), .fade-out .cd-bouncy-nav li:nth-of-type(1) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .fade-in .cd-bouncy-nav li:nth-of-type(2), .fade-out .cd-bouncy-nav li:nth-of-type(2) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
  }
  .fade-in .cd-bouncy-nav li:nth-of-type(4), .fade-out .cd-bouncy-nav li:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .fade-in .cd-bouncy-nav li:nth-of-type(5), .fade-out .cd-bouncy-nav li:nth-of-type(5) {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
  .cd-bouncy-nav a {
    /* margin-bottom: 50px; */
  }
}

@-webkit-keyframes cd-move-in {
  0% {
    -webkit-transform: translateY(100vh);
  }
  65% {
    -webkit-transform: translateY(-1.5vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
  }
}
@-moz-keyframes cd-move-in {
  0% {
    -moz-transform: translateY(100vh);
  }
  65% {
    -moz-transform: translateY(-1.5vh);
  }
  100% {
    -moz-transform: translateY(0vh);
  }
}
@keyframes cd-move-in {
  0% {
    -webkit-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    transform: translateY(100vh);
  }
  65% {
    -webkit-transform: translateY(-1.5vh);
    -moz-transform: translateY(-1.5vh);
    -ms-transform: translateY(-1.5vh);
    -o-transform: translateY(-1.5vh);
    transform: translateY(-1.5vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -o-transform: translateY(0vh);
    transform: translateY(0vh);
  }
}
@-webkit-keyframes cd-move-out {
  0% {
    -webkit-transform: translateY(0vh);
  }
  100% {
    -webkit-transform: translateY(-100vh);
  }
}
@-moz-keyframes cd-move-out {
  0% {
    -moz-transform: translateY(0vh);
  }
  100% {
    -moz-transform: translateY(-100vh);
  }
}
@keyframes cd-move-out {
  0% {
    -webkit-transform: translateY(0vh);
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -o-transform: translateY(0vh);
    transform: translateY(0vh);
  }
  100% {
    -webkit-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -ms-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
}
.layui-btn, .layui-input, .layui-select, .layui-textarea, .layui-upload-button {
    outline: 0;
    -webkit-appearance: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    box-sizing: border-box;
}
.layui-btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.sucaihuo-container ul li .layui-btn {
    width: 100%;
    padding: 0;
    background: #DC965A;
}
.layui-btn:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    color: #fff;
}
.pager {padding:5px 10px;text-align: center;overflow:hidden;height:20px;}
.pager a {
    background: #720a0a;
    color: #fff;
}

.bcc_banner {width:100%; position:relative; overflow:hidden;}
.bcc_banner li {width:100%;height:100%;float:left;overflow:hidden;}
.bcc_banner li img{ width:100%;}
.bcc_banner_b { position:absolute; left:0;bottom:0;width:100%;height:15px;overflow:hidden;text-align:center;
	margin-bottom:10px;}
.bcc_banner_b span {display:inline-block; width:10px; height:10px; background:#615f59; cursor:pointer;
	margin:0 5px;border-radius: 30px;}
.bcc_banner_b span.active { background:#e30000;}



bcc_banner_c {
    position:relative;

}


.bcc_banner2 {width:100%; position:relative; overflow:hidden;}
.bcc_banner2 li {float:left;}
.bcc_banner2 li img{ width:100%;}
.bcc_banner_b2 { position:absolute; left:0;bottom:0;width:100%;height:15px;overflow:hidden;text-align:center;
	margin-bottom:0px;}
.bcc_banner_b2 span {display:inline-block; width:10px; height:10px; background:#615f59; cursor:pointer;
	margin:0 5px;border-radius: 30px;}
.bcc_banner_b2 span.active { background:#e30000;}

.bcc_banner3 {width:100%; position:relative; overflow:hidden;}
.bcc_banner3 li {width:100%;height:100%;float:left;overflow:hidden;}
.bcc_banner3 li img{ width:100%;}
.bcc_banner_b3 { position:absolute; left:0;bottom:0;width:100%;height:15px;overflow:hidden;text-align:center;
	margin-bottom:10px;}
.bcc_banner_b3 span {display:inline-block; width:10px; height:10px; background:#615f59; cursor:pointer;
	margin:0 5px;border-radius: 30px;}
.bcc_banner_b3 span.active { background:#e30000;}

.bcc_banner4 {width:100%; position:relative; overflow:hidden;}
.bcc_banner4 li {width:100%;height:100%;float:left;overflow:hidden;}
.bcc_banner4 li img{ width:100%;}
.bcc_banner_b4 { position:absolute; left:0;bottom:0;width:100%;height:15px;overflow:hidden;text-align:center;
	margin-bottom:10px;}
.bcc_banner_b4 span {display:inline-block; width:10px; height:10px; background:#615f59; cursor:pointer;
	margin:0 5px;border-radius: 30px;}
.bcc_banner_b4 span.active { background:#e30000;}

.bcc_banner5 {width:100%; position:relative; overflow:hidden;}
.bcc_banner5 li {width:100%;height:100%;float:left;overflow:hidden;}
.bcc_banner5 li img{ width:100%;}
.bcc_banner_b5 { position:absolute; left:0;bottom:0;width:100%;height:15px;overflow:hidden;text-align:center;
	margin-bottom:10px;}
.bcc_banner_b5 span {display:inline-block; width:10px; height:10px; background:#615f59; cursor:pointer;
	margin:0 5px;border-radius: 30px;}
.bcc_banner_b5 span.active { background:#e30000;}

.gai_lk1{width:100%; padding:0 1%;height:32px;overflow:hidden;line-height:32px;margin:10px 0px 12px;}
.gai_lk1 li{width:24.5%;height:32px;float:left;text-align:center; border-radius:5px;display:block; margin-right:1px;
	background:#b2b2b2; color:#7a0308; font-size:0.7rem; cursor:pointer;}
.gai_lk1 li.current{background:#7a0308;height:32px;line-height:32px;display:block; color:#fff;}

.ind_aa_mid2{ width:96%; height:36px; margin:0 auto;border-bottom: 0px solid #c0c0c0;} 
.ind_aa_mid2 li{ width:33.3%; height:36px; line-height:36px; text-align:center; float:left; 
	margin-right:0px;border-bottom:2px solid #c0c0c0;color:#555;}
.ind_aa_mid2 li a{ font-size:15px;color: #555;}
.ind_aa_mid2 li.current{ border-bottom:2px solid #720A0A;}
.ind_aa_mid2 li.current a{ color:#720A0A;}

.ind_aa_mid3{ width:96%; height:auto; margin:0.2rem auto 0.2rem;}
.ind_aa_mid3 ul{ width:100%;}
.ind_aa_mid3 ul li{ width:100%; height:30px; line-height:30px; border-bottom:1px solid #ccc; color:#555;overflow:hidden;
	background:url(tel_ico.gif) no-repeat 98% center; text-indent:19px;background-size:0.15rem auto;}
.ind_aa_mid3 ul li a{width:95%;height:30px;display:block;overflow:hidden;}
.ind_aa_mid3 ul li a:hover{ color:#555; text-decoration:none;}
.ind_aa_mid3 ul li i{position: absolute;margin-top: 13px;width: 4px;height: 4px;border-radius: 50%;margin-left: 9px;
    background-color: #7d7d7d;}
.ind_aa_mid3 ul li span{ float:right; color:#6f6f6f;}
.ind_aa_mid3 ul li img{ vertical-align:inherit; margin-left:8px;}
.ind_aa_mid3 h2{ width:114px; height:30px; line-height:30px; float:right;}
.ind_aa_mid3 h2 a{ color:#f00;} 

.ind_aa_mid1{ width:100%; height:35px; margin-top:0px;  margin-left:0px;} 
.ind_aa_mid1 li{ width:33.3%; height:35px; line-height:35px; text-align:center; float:left; margin-right:0px;
	border-bottom:2px solid #c0c0c0;}
.ind_aa_mid1 li a{ font-size:15px;color:#555}
.ind_aa_mid1 li.current{ border-bottom:2px solid #720A0A;}
.ind_aa_mid1 li.current a{ color:#720A0A;}
.ind_aa_mid4{ width:98%; height:auto; margin:0.15rem auto 0;}

.zj_img-scroll { position: relative; height:auto;width:100%;}
.zj_img-scroll .prev {background: url(../images/in_left.jpg) no-repeat 0 27px;display: block;height:60px;position: absolute;
	width:11px;left: 0; z-index:9;display:none;}
.zj_img-scroll .next {background: url(../images/in_right.jpg) no-repeat 0 27px;display: block;height:60px;position: absolute;
	width:11px;right: 0; z-index:9;display:none;}
.zj_img-list {height:auto;margin-left:1px;overflow: hidden;position: relative;width:100%;margin-top: 0.2rem;}
.zj_img-list ul{ height:3.5rem;display: block;overflow: hidden; width:1000px;}
.zj_img-list li {display: inline;float: left;height:auto;margin-right:0px;text-align: center;width:7.85rem;}
.zj_img-list li img{ width:7.85rem; height:3.5rem; border:1px solid #cdcdcd;}

.zj_img-scroll2 { position: relative; height:auto;width:100%;}
.zj_img-scroll2 span{font-size:40px;color:#fff;margin: 1.1rem 0.2rem;}
.zj_img-scroll2 .prev2 {display: block;height:60px;position: absolute;
	width:auto;left: 0; z-index:9;}
.zj_img-scroll2 .prev2::before {content: '\276e';}
.zj_img-scroll2 .next2 {display: block;height:60px;position: absolute;
	width:auto;right: 0; z-index:9;}
.zj_img-scroll2 .next2::before {content: '\276f';}
.zj_img-list2 {height:auto;margin-left:1px;overflow: hidden;position: relative;width:100%;margin-top: 0rem;}
.zj_img-list2 ul{ height:2.76rem;display: block;overflow: hidden; width:1000px;}
.zj_img-list2 li {display: inline;float: left;height:auto;margin-right:0px;text-align: center;width:5.95rem;}
.zj_img-list2 li img{ width:100%; height:2.76rem; border:1px solid #cdcdcd;}

.zj_img-scroll3 { position: relative; height:auto;width:100%;}

.zj_img-scroll3 span{font-size:40px;color:#fff;margin: 1.1rem 0.2rem;}
.zj_img-scroll3 .prev3 {display: block;height:60px;position: absolute;
	width:auto;left: 0; z-index:9;}
.zj_img-scroll3 .prev3::before {content: '\276e';}
.zj_img-scroll3 .next3 {display: block;height:60px;position: absolute;
	width:auto;right: 0; z-index:9;}
.zj_img-scroll3 .next3::before { content: '\276f';}
.zj_img-list3 {height:auto;margin-left:1px;overflow: hidden;position: relative;width:100%;margin-top: 0rem;}
.zj_img-list3 ul{ height:3rem;display: block;overflow: hidden; width:1000px;}
.zj_img-list3 li {display: inline;float: left;height:auto;margin-right:0px;text-align: center;width:5.95rem;}
.zj_img-list3 li img{ width:100%; height:3rem; border:1px solid #cdcdcd;}




.zj_img-scroll1 { position: relative; height:auto;width:100%;}
.zj_img-scroll1 span{font-size:40px;color:#fff;margin: 1.9rem 0.2rem;}
.zj_img-scroll1 .prev1 {display: block;height:60px;position: absolute;
    width:auto;left: 0; z-index:9;}
.zj_img-scroll1 .prev1::before {content: '\276e';}
.zj_img-scroll1 .next1 {display: block;height:60px;position: absolute;
    width:auto;right: 0; z-index:9;}
.zj_img-scroll1 .next1::before { content: '\276f';}
.zj_img-list1 {height:auto;margin-left:1px;overflow: hidden;position: relative;width:100%;margin-top: 0rem;}
.zj_img-list1 ul{ height:4rem;display: block;overflow: hidden; width:1000px;}
.zj_img-list1 li {display: inline;float: left;height:auto;margin-right:0px;text-align: center;width:5.95rem;}
.zj_img-list1 li img{ width:100%; height:4rem; border:1px solid #cdcdcd;}


/*医院荣誉*/
.focus{ width:320px; height:140px;  margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:5px; text-align:center;  }
.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7);
    -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
}
.focus .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#FE6C9C;  }

.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{ width:100%;  height:140px; background:url(loading.gif) center center no-repeat;  }
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }


/*医院荣誉*/
.ind_aa_mid4 .slider {position:relative;}
.ind_aa_mid4 .slider span{font-size:40px;color:#fff;margin: 15% 0.2rem 0;padding:10% 0 ; }
.ind_aa_mid4 .slider .prev3 {display: block;height:60px;position: absolute;
    width:auto;left: 0; z-index:9;}
.ind_aa_mid4 .slider .prev3::before {content: '\276e';}
.ind_aa_mid4 .slider .next3 {display: block;height:60px;position: absolute;
    width:auto;right: 0; z-index:9;}
.ind_aa_mid4 .slider .next3::before { content: '\276f';}


.ind_aa_mid4 .slider2 {position:relative;}
.ind_aa_mid4 .slider2 span{font-size:40px;color:#fff;margin: 15% 0.2rem 0;padding:10% 0 ; }
.ind_aa_mid4 .slider2 .prev3 {display: block;height:60px;position: absolute;
    width:auto;left: 0; z-index:9;}
.ind_aa_mid4 .slider2 .prev3::before {content: '\276e';}
.ind_aa_mid4 .slider2 .next3 {display: block;height:60px;position: absolute;
    width:auto;right: 0; z-index:9;}
.ind_aa_mid4 .slider2 .next3::before { content: '\276f';}



.dede_pages{float: right;}
.dede_pages ul{
	float:left;
}
.dede_pages ul li{
	color:#fff;
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
	margin-top: 0px;
	padding: 0px;
	background: #720a0a;
	padding:2px 8px 2px;
}
.dede_pages ul li a{
	float:left;
	color:#fff;
	display:block;
}
.dede_pages ul li a:hover{
	color:#fff;
	text-decoration:none;
}
.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	font-weight:bold;
	color:#720a0a;
}
.dede_pages .pageinfo{
	color:#fff;
}
@media screen and (max-width: 459px) {
	.zj_img-list3 li img{ width:100%; height:auto; border:1px solid #cdcdcd;}
	.zj_img-list3 ul{height: 3.09rem;}
}

.listcontent{width: 96%;height: auto;margin: 0 auto;background: #FFFFFF;overflow:hidden;}
.listcontent .lxtitle{width: 96%;height: 0.6rem;margin: 0 auto 0.2rem;overflow: hidden;border-bottom:1px solid #dddddd;}
.listcontent .lxtitle .lxname{float: left;margin-left: 0.05rem;height: 0.53rem;border-bottom: 3px solid #720A0A;line-height: 0.1rem;}
.listcontent .lxtitle .lxname a{font-size: 0.28rem;font-weight: bold;color: #444;line-height: 0.65rem;display: block;}
.zjlist{width:80%;height:auto;margin:0 auto;overflow:hidden;}
.zjlist ul li{width:49%;height:auto;margin-right:1%;float:left;}
.zjlist ul li .zjpic{width: 1.2rem;float: left;height: 1.5rem;overflow: hidden;margin-bottom: 0.2rem;}
.zjlist ul li .zjpic a{display: block;}
.zjlist ul li .zjpic img{width:100%;height:auto;}

.zjlist ul li .zjxinxi{width: 0.8rem;height: 1.5rem;float: left;overflow: hidden;margin-top: 0.1rem;margin-left: 0.1rem;}
.zjxinxi a{line-height:0.25rem;}
.zjxinxi .zjname{width: 100%;height:auto;float: left;overflow: hidden;}
.zjxinxi .zjname a{display: block;font-size: 0.20rem;color: #05b0b0;font-weight: bold;}
.zjxinxi .zjzhiwu{width: 100%;height: 0.7rem;float: left;overflow: hidden;}
.zjxinxi .zjzhiwu a{display: block;font-size: 0.20rem;color: #000000;}
.zjxinxi .zjgj{width: 0.56rem;height: auto;float: left;overflow: hidden;position: absolute;margin-top: 1.05rem;}
.zjxinxi .zjgj a{display: block;}
.zjxinxi .zjgj img{width:100%;height:auto;}
.zjxinxi .zjtzhiwu{width:100%;height:auto;float:left;overflow: hidden;}
.zjxinxi .zjtzhiwu a{display: block;font-size: 0.2rem;color: #000;}
.zjxinxi .zjrenzhi{width:100%;height:auto;float:left;overflow: hidden;}
.zjxinxi .zjrenzhi a{display: block;font-size: 0.2rem;color: #000;}