@charset "utf-8";
/* CSS Document */
/*底部版权*/
.footer .wrapper{ width:1100px; margin:0 auto; overflow:hidden; line-height:20px;position:relative; height:180px; } /*晓明修改,底顶对齐*/
.footer .fl{ float:left; text-align:left; }
.footer .fc{ float:left; text-align:center; }
.footer .fr{ float:left; text-align:right;}
.footer .fl img{
    width: 100px;}
.qr_code{ width:400px; position: absolute; top: 30px; left: 430px; text-align: center; background: #fff;  }
.qr_code li{ float:left;margin: 5px; }
.qr_code img { margin-bottom:3px; }
