@charset "utf-8";
/* CSS Document */
/*banner区域*/
.banner {
	margin-bottom: 10px;
}

.keshi-zhuanjiawf{}
.keshi-zhuanjiawf dl{ width:50%; float:left; height:168px; padding:5px 0; border-bottom:#CCC 1px dotted; overflow:hidden;}
.keshi-zhuanjiawf dl dt{ float:left; width:142px;}
.keshi-zhuanjiawf dl dt img{ width:142px; height:168px;}
.keshi-zhuanjiawf dl dd{ float:right; width:215px; margin-right:10px;}
.keshi-zhuanjiawf dl dd h3{border-bottom:dashed #1d5eca 1px; font-size:22px; line-height:40px; height:40px; font-family:"微软雅黑"; font-weight:normal; padding-bottom:10px;}
.keshi-zhuanjiawf dl dd h3 a{ float:left;}
.keshi-zhuanjiawf dl dd h3 span{ float:right; color:#0d1b42; font-family:"宋体"; font-size:14px;}
.keshi-zhuanjiawf dl dd p{line-height:24px; margin-top:10px;}


/*底部版权*/
.footer { margin-top:30px;}
.footer .wrapper{ width:1000px; margin:0 auto; overflow:hidden; line-height:20px;position:relative;  }
/*.footer .fr{ text-align:right;}*/
.footer .fl img{width:100px; float:inherit}
.qr_code{ width:400px; position: absolute; top: 30px; right: 0px; text-align: center; background: #fff;  }
.qr_code li{ float:left;margin: 5px; }
.qr_code img { margin-bottom:3px; }
.qr_code span { display: block; color:#017fcb; font-weight:bold;  }
.footer-menu {
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	background-color: #417cc0;
	margin-bottom: 20px;
}
.footer-menu a {
	font-size: 14px;
	color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
}
.container {
	position: relative;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.sidebar {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	min-height: 200px;
	background: url("../images/leve2/sidebar-bg.png") repeat-y center top;
	border: 1px solid #cccccc;
	border-top-width: 0;
	border-radius: 5px;
	box-shadow: 0 1px 4px #cccccc;
	overflow: hidden;
}
.main {
	margin-left: auto;
    margin-right: auto;
	border: 1px solid #dddddd;
	border-top-width: 0;
	min-height: 800px;
	padding-left: 12px;
	box-shadow: 0 1px 6px #cccccc;
	/*background: url("../images/leve2/main-left.png") no-repeat left top;*/
}
.main .hd {
    padding: 30px;

}
.main .breadline {

	font-size: 16px;
	color: #206fc7;
}
.main .breadline a {
	color: #206fc7;
	padding-right: 5px;
}
.main .bd {
	/*min-height: 500px;*/
	/*padding-top: 20px;*/
	/*padding-left: 10px;*/
	/*padding-right: 20px;*/
	/*background: url("../images/leve2/main-center.png") repeat-x left top;*/
}
.main .line {
	display: block;
	height: 2px;
	overflow: hidden;
	background: url("../images/leve2/tl-line.png") no-repeat left center #18a8a8;
	margin-bottom: 10px;
}
.main .tl {
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 2em;
	padding-left: 20px;
	background: url("../images/leve2/icon-1.png") no-repeat left center;
}
.sidebar .hd {
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	height: 44px;
	line-height: 44px;
	background: url("../images/leve2/sidebar-hd.png") no-repeat left top;
	margin-bottom: 1px;
}
.sidebar li {
	height: 44px;
	background: url("../images/leve2/sidebar-line.png") no-repeat center bottom;
}
.sidebar a {
	display: block;
	height: 44px;
	line-height: 44px;
	padding-left: 20px;
	font-size: 16px;
	background: url("../images/leve2/arrow-2.png") no-repeat 160px center;
}
.sidebar .cur {
	background-color: #409de5;
}
.sidebar .cur a {
	color: #ffffff;
	background: url("../images/leve2/arrow-1.png") no-repeat 160px center;
}
.new-list {
	background: url("../images/leve2/list-bg.png") repeat left top;
}
.new-list li {
	position: relative;
	height: 49px;
line-height: 49px;
	font-size: 14px;
}
.new-list a {
	display: block;
	margin-right: 100px;
	height: 49px;
	line-height: 49px;
	padding-left: 20px;
}
.new-list .time {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	width: 100px;
	height: 49px;
	line-height: 49px;
	text-align: center;
}



.englishnew-list {
}
.englishnew-list li {
	position: relative;
	height: 49px;
	font-size: 14px;
}
.englishnew-list a {
	display: block;
	margin-right: 100px;
	height: 49px;
	line-height: 49px;
	padding-left: 20px;
}
.englishnew-list .time {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	width: 100px;
	height: 49px;
	line-height: 49px;
	text-align: center;
}

.page-nav {
	padding: 20px;
	margin-left: 200px;
	height: 20px;
}
.page-nav .fl span,.page-nav .fl a,.page-nav input {
	font-size: 14px;
	display: block;
	float: left;
}
.page-nav .fl span,.page-nav .fl a {
	line-height: 20px;
	color: #666666;
}
.page-nav .fl a {
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	background-color: #d9d9d9;
}
.page-nav .prev,.page-nav .next {
	width: 4px;
	height: 20px;
	background:url("../images/leve2/page-arrow-l.png") no-repeat center center;
}
.page-nav .next {
	background:url("../images/leve2/page-arrow-r.png") no-repeat center center;
}
.page-nav input {
	border: 1px solid #dddddd;
	height: 18px;
	width: 20px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	line-height: 18px;
}
.page-nav .fl .btn {
	height: 20px;
	line-height: 20px;
	background-color: #417cc0;
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
}
.page-nav .fr span {
	line-height: 20px;
	padding-left: 10px;
}
.page-nav .fl .cur {
	color: #ffffff;
	background-color: #417cc0;
}



.new-tl {
	font-size: 24px;
	text-align: center;
	line-height: 2em;
	font-weight: bold;
	margin-bottom: 5px;
}
.new-content {
	padding-left: 40px;
	padding-right: 40px;

}
.new-content p {
	
	font-size: 14px;
	line-height: 2em;
	margin-bottom: 20px;
}
.new-content img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width:100%;
	height:auto!important;
}

.new-content a:hover{
    color: #8fff64;
}

.aboutus {
    text-align:center;
}
.main .state img{
    width: 100px;
    height: 100px;
    /*float:left;*/
}

/*科室特色*/
.icon-list{ overflow:hidden; margin:10px 0;}
.icon-list li{ float:left; border:1px solid #bed6f1; width:123px; height:123px; text-align:center;}
.icon-list a{ color:#4c4c4c; font-size:12px;}
.icon-list a:hover{ color:#409de5; text-decoration:underline;}
.icon-list li img{ display:block; margin:10px auto 5px;}

/*院级领导*/
.yjld{ overflow:hidden; margin-right:-35px;}
.yjld dl{ float:left; overflow:hidden;margin:10px 35px 10px 0; background:url(../images/ld_bg.jpg) no-repeat; width:358px; height:169px;}
.yjld dt{ float:left; margin:20px 10px;}
.yjld dd{ float:left; width:210px; margin:25px 0 0 15px;}
.yjld h3{ font-family:"微软雅黑"; font-size:18px; color:#333; margin-bottom:10px; font-weight:normal;}
.yjld p{ font-size:14px;}

/*著名专家*/
.title{ text-align:center; color:#364048; font-size:25px;  font-family:"微软雅黑";font-weight:normal; }
.zhuanjia{ overflow:hidden; margin-right:-15px;}
.zhuanjia.no-border dl{ border:none;}
.zhuanjia dl{ float:left; overflow:hidden;padding:10px 15px 10px 0; width:240px; height:95px; border-bottom:1px solid #d9d9d9;}
.zhuanjia dt{ float:left; margin:0px 10px;}
.zhuanjia dd{ float:left; width:120px; margin:5px 0 0 15px;}
.zhuanjia h3{  color:#206fc7; margin-bottom:5px; font-weight:normal;}
.zhuanjia p{ font-size:14px;}

/*专家介绍*/
.search_zhuanjia{ background:none; height:auto; padding:20px 60px 30px; border-bottom:1px dashed #d9d9d9; }
.search_zhuanjia label{ line-height:20px; color:#429de2; font-size:16px; font-weight:bold; margin-bottom:5px; display:block;}
.search_zhuanjia input,.search_zhuanjia select{ height:24px; line-height:24px; border:1px solid #d9d9d9; width:145px;} 
.search_zhuanjia select{height:28px; line-height:28px;}
.search_zhuanjia input[type=submit], .search_zhuanjia  input[type=button]{ background:url(../images/btn_bg_blue.png) no-repeat; width:178px; height:33px; text-align:center; line-height:33px; color:#fff; margin-top:20px; font-size:16px;}
.search_result{ overflow:hidden; margin:20px 0;}
.search_result li{ float:left; border:1px solid #409de5; margin:6px 13px; overflow:hidden;}
.search_result img{ border-right:1px solid #409de5; float:left;}
.search_result a{ float:left; display:block; line-height:50px; width:98px; text-align:center;}
.zhuanjia_info .tl{ background:url(../images/zhuanjia/img_88.png) left center no-repeat; position:relative; padding-left:25px;}
.zhuanjia_info .tl a{ position: absolute; right:0; font-size:12px; top:0;}

.zhuanjia_info .expert_display{ overflow: hidden; height: 200px;margin:20px 0 30px; }
.expert_display .leftmove { width: 17px; height: 31px; display: block; background:url(../images/zhuanjia/img_95.png) no-repeat; margin-top: 80px; z-index: 10; cursor: pointer; float: left; margin-right:3px; }
/*.expert_display.leftmove:hover { background-position: 0 -20px; }*/
.expert_display .rightmove { width: 17px; height: 31px; display: block; background:url(../images/zhuanjia/img_98.png); margin-top: 80px; z-index: 10; float: right; margin-left:3px;}
/*.expert_display.rightmove:hover { background-position: 0 -61px; }*/
.expert_display .mid_items { width:700px; float: left; position: relative; height: 200px; overflow: hidden; }
.expert_display span { position: absolute; top: -11px; left: 0; }
.expert_display .mid_items ul { height: 200px; position: absolute; left: 0; margin: 0; padding: 0; }
.expert_display ul li { float: left; width: 130px; padding: 0 7px; height: 200px; text-align:center; }
.expert_display ul a{font-size:14px;  line-height:22px;}
.expert_display ul li a img { display:block; margin:0 auto 5px; }

/*美丽三院*/
.mlsy-list{
 overflow:hidden;
 margin-right:-20px;
}
.mlsy-list img{ margin:7px;}
.mlsy-list li{ background:url(../images/mlsy/mlsy_bg.jpg) no-repeat; width:172px; height:186px; float:left; margin-right:20px; margin-bottom:20px;}
.mlsy-list a{ display:block; text-align:center; line-height:26px; color:#2775cd;}
.mlsy-list a:hover{ text-decoration:underline;}

/*网站地图*/
.site h3{ background-color:#d8eaff; height:21px; position:relative; margin-top:35px;}
.site h3 span{ position:absolute; left:0; top:-8px; background:url(../images/title_bg_blue.png) no-repeat; width:131px; height:45px; line-height:37px; color:#fff; font-size:18px;font-family:"微软雅黑"; font-weight:normal; text-align:center; }
.site .cont{ overflow: hidden; margin-top:30px;}
.site .cont ul{ width:150px; float:left; line-height:22px;}
.site .cont li{ background:url(../images/title_arrow_blue.png) left center no-repeat; padding-left:10px; }
.site .cont a:hover{ text-decoration:underline;}

/*教学科研平台*/
.keyan-sidebar a{
	background:url(../images/arrow_keyan.png) no-repeat 175px -28px;
}
.keyan-sidebar .cur a {
	color: #ffffff;
	background:url(../images/arrow_keyan.png) no-repeat 175px 18px;
}
/*教学科研平台*/
.keyan h3{ background-color:#d8eaff; height:21px; position:relative; margin-top:35px;}
.keyan h3 span{ position:absolute; left:0; top:-8px; background:url(../images/title_bg_blue222.png) no-repeat; width:221px; height:45px; line-height:37px; color:#fff; font-size:18px;font-family:"微软雅黑"; font-weight:normal; text-align:center; }
.keyan dl{ overflow:hidden; margin:25px 0 25px;}
.keyan dt{ float:left;}
.keyan dd{ font-size:14px; margin-left:20px; line-height:26px; color:#206fc7; float:left; width:430px; text-indent:2em;}

.ccontentSb img{ margin:0 5px;}


.nodeLists { overflow:hidden; padding:0 0 20px 0;}
.nodeLists .ntitle{ font-weight:bold; line-height:36px; font-size:16px; font-family:"黑体"; color:#206fc7; border-bottom:#206fc7 1px solid;}
.nodeLists .nlist{ overflow:hidden; padding:5px 0;}
.nodeLists .nlist li{ float:left; height:140px; line-height:40px; width:140px; margin:5px; }
.nodeLists .nlist li a { display:table-cell; vertical-align:middle; width:140px; text-align:center; height:140px; border:#206fc7 1px solid; font-size:14px;}
.nodeLists .nlist li a span{ display:block;}
.nodeLists .nlist li a:hover { background:#206fc7; color:#FFF;}
.tl2 {font-size: 16px;font-weight: bold;}


.pepspan { display:block; text-align:center;}

.teamContainer{ overflow:hidden;}
.teamContainer ul{ width:338px; height:130px; padding:19px 10px 20px 10px; background:url(../images/ld_bg.jpg) no-repeat; float:left; margin:9px;}
.teamContainer ul .simg{ float:left; width:94px; height:130px; display:block;}
.teamContainer ul .simg img{ width:94px; height:130px;}
.teamContainer ul .text { display:block; float:right; width:198px; color:#227efa; font-family:"微软雅黑"; font-size:18px;}
.teamContainer ul p{ float:right; width:198px; font-size:14px}

.siteMapContainer{ font-size:16px; padding:0 0 10px 0;}
.siteMapContainer tr td h1{ background:#409de5; text-align:left; font-size:18px; line-height:50px; padding:0 5px;}
.siteMapContainer tr td h1 a{ color:#FFF; display:block;}
.siteMapContainer tr td ul{ padding:5px 10px;}
.siteMapContainer tr td ul li{ height:40px; line-height:40px; float:left; padding:0 5px;}
.siteMapContainer tr td{ border:#409de5 1px solid;}